<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.zqc.mapper.UserMapper">

    <!--
        id="save"是唯一的标示符
        parameterType属性指明插入时使用的参数类型
        useGeneratedKeys="true"表示使用数据库的自动增长策略
     -->
    <insert id="insertUser" parameterType="com.zqc.domain.User" useGeneratedKeys="true">
        INSERT INTO TB_USER(name,sex,age)
        VALUES(#{name},#{sex},#{age})
    </insert>
    <select id="selectUser" parameterType="int" resultType="com.zqc.domain.User">
    SELECT * FROM TB_USER WHERE id = #{id}
    </select>

    <update id="modifyUser" parameterType="com.zqc.domain.User">
    UPDATE TB_USER SET name = #{name}, sex = #{sex}, age = #{age}
    WHERE id = #{id}
    </update>

    <delete id="removeUser" parameterType="int">
    DELETE FROM TB_USER WHERE id = #{id}
    </delete>

    <select id="selectUserAll_1" resultType="map">
    SELECT * FROM TB_USER
    </select>

    <select id="selectUserAll_2" resultType="com.zqc.domain.User">
    SELECT * FROM TB_USER
    </select>

    <resultMap id="userResultMap" type="com.zqc.domain.User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="age" column="user_age"/>
        <result property="sex" column="user_sex"/>
    </resultMap>
    <select id="selectUserAll_3" resultMap="userResultMap">
        select * from tb_user_2
    </select>
</mapper>